* text=auto eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.ico binary
*.woff2 binary
*.pdf binary
# Third-party license texts stay verbatim, trailing spaces included.
public/templates/refract/fonts/DINish-OFL.txt -whitespace
